<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="userkey" value="uoGz5xaAPxZQFGDJwPhEF3vJF6eeYG" />
    <add key="applicationkey" value="ae965hsnhmamdo12wcpmxw75fto72a" />
    <add key="telegrambottoken" value="1628795996:AAEaFcRaZmV1oCGBN_b9LkqFPckicoWJUzA" />
    <add key="telegramchatid" value="-586353124" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.30.0" newVersion="1.11.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>